body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    background-position-y: 10%;
}

h1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 46px;
    color: #49381A;
    margin: 0;
    line-height: 1.1;
}

p {
    text-align: center;
    font-size: 1.2rem;
    color: #0D0D0D;
    margin-top: 10px;
    margin-bottom: 14px;
}

.App {
    text-align: center;
    padding: 20px;
}

/* Estilos para las burbujas */
.bubble-left, .bubble-right {
    width: 200px;
    height: 250px;
    background-color: #f0f0f0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: absolute; /* Posiciona las burbujas */
}

.bubble-left {
    left: 40px;
    top: 100px; /* Puedes ajustar la distancia desde la parte superior */
}

.bubble-right {
    right: 40px;
    top: 100px; /* Ajusta la distancia desde la parte superior */
}

.bubble h3 {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    color: #0D0D0D;
}

.bubble-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
